.git
.gitignore
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
laravel/public/build
laravel/public/hot
laravel/bootstrap/cache/*.php
laravel/storage/framework/cache/**
laravel/storage/framework/sessions/**
laravel/storage/framework/views/**
recordings
docker/nginx/letsencrypt
*.dump
*.sql
*.log
